[submodule "benchmarks/RGB"]
	path = rag_benchmarks/RGB
	url = https://github.com/mlzt2000/RGB.git
[submodule "models/unlimiformer"]
	path = models/unlimiformer
	url = https://github.com/mlzt2000/unlimiformer.git